@model CreativaSL.Web.Ganados.Models.Flete_ProductoModels
<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Ganado</h4>
    </div>
 
</div> 