@using ReportViewerForMvc;
@using System.Web.UI.WebControls;
@model CreativaSL.Web.Ganados.Models.RptProveedorMermaAltaModels

@{
    ViewBag.Title = "Index";
   // Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>AnonymousExample</h2>
@{
    List<object> dataList = new List<object>();
    var data = new
    {
        Dept = "Document Control",
        Shift = "Day",
        EmployeeID = "1"
    };
    dataList.Add(data);
}
@Html.ReportViewer(
    new
    {
        ProcessingMode = 0, //ProcessingMode.Local
        SizeToReportContent = true,
        Width = Unit.Percentage(500),
        Height = Unit.Percentage(500)
    },
    new
    {
        ReportPath = Request.MapPath(Request.ApplicationPath) + @"Reports\ReportePrueba.rdlc"
    },
    new
    {
       
    },
    new
    {
        Name = "ListaMerma",
        Value = Model.listaRptProveedorMerma
    },
    null)