@model CreativaSL.Web.Ganados.Models.CajaChicaModels
<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Ticket</h4>
    </div>
    <div class="modal-body">
        <div class="table-responsive">
            <img
                src="@Model.ImagenCajaChica" 
                alt="Ticket" style=" width: 100%; height: auto;" />
        </div>
    </div>
    <div class="form-group modal-footer">
        <div class="controls">
            <button type="button" class="btn btn-secondary red" data-dismiss="modal">Salir</button>
        </div>
    </div>
</div>

