@model CreativaSL.Web.Ganados.Models.GanadosModels

<!-- Modal content-->
<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Asignar vale</h4>
    </div>
    <div class="modal-body">
        <!--INICIA CUERPO MODAL-->
        <form class="form-horizontal">
            <div class="control-group">
                <label class="control-label" for="inputProducto">Vales registrados al proveedor</label>
                <div class="controls">
                    <select>
                        <option></option>
                    </select>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <button type="submit" class="btn btn-success green">Asignar</button>
                    <button type="button" class="btn btn-secondary red" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </form>
        <!--TERMINA CUERPO MODAL-->
    </div>
</div>
