@model CreativaSL.Web.Ganados.Models.CompraModels

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section css
{
    <link href="~/Content/css/datatable/jquery.dataTables.min.css" rel="stylesheet" />
}

@section featured
{
    @{
        var message = TempData["message"] ?? string.Empty;
        var typemessage = TempData["typemessage"] ?? string.Empty;
    }
    <div id="Error" class="progress-bar progress-bar-striped active errorCSL" style="display:none; width:100%">
        <h3></h3>
    </div>
    <div id="Success" class="progress-bar progress-bar-striped active successCSL" style="display:none; width:100%">
        <h3></h3>
    </div>
    <div class="page-title">
        <h2><span class="fa fa-arrow-circle-o-left"></span> Tipos de documentación extra </h2>
    </div>
    <!-- END PAGE TITLE -->
    <div class="page-content-wrap">
        <div class="row">
            <div class="col-md-12">
                <!-- START DEFAULT DATATABLE -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"></h3>
                        <ul class="panel-controls">
                            <li><a href="@Url.Action("Create","CatTipoDocumentacionExtra")" class="btn btn-default btnCrear"><span class="fa fa-plus"></span> Nuevo tipo de documentación extra</a></li>
                            <li><a href="#" class="panel-collapse exsa"><span class="fa fa-angle-down"></span></a></li>
                            <li><a href="#" class="panel-fullscreen exsa"><span class="fa fa-expand"></span></a></li>
                        </ul>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table id="tblIndex" class="table">
                                <thead>
                                    <tr>
                                        <th>Descripción</th>
                                        <th>Modulos</th>
                                        <th>Acción</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <br />
                    </div>
                </div>
                <!-- END DEFAULT DATATABLE -->
            </div>
        </div>
    </div>
    <!-- PAGE CONTENT WRAPPER -->
    <div class="message-box animated fadeIn" data-sound="alert" id="mb-remove-row">
        <div class="mb-container">
            <div class="mb-middle">
                <div class="mb-title"><span class="fa fa-times"></span> Eliminar <strong>Registro</strong> ?</div>
                <div class="mb-content">
                    <p>¿Seguro que quieres eliminar este registro?</p>
                    <p>Presione "sí" si está seguro.</p>
                </div>
                <div class="mb-footer">
                    <div class="pull-right">
                        <button class="btn btn-success btn-lg mb-control-yes">Si</button>
                        <button class="btn btn-default btn-lg mb-control-close">No</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
    var message = '@message';
    var typemessage = '@typemessage';
    </script>
}
@section script
{
    <script type="text/javascript" src="@Url.Content("~/Content/js/demo_tables.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/plugins/datatables/jquery.dataTables.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/mensajeDeError.js")"></script>

    <script>
        jQuery(document).ready(function () {
            Mensaje(message, typemessage);
        });
    </script>
    <script>

        var tblIndex = $("#tblIndex").DataTable({
            "processing": true,
            "serverSide": true,
            "language": {
                "url": "/Content/assets/json/Spanish.json"
            },
            "ajax": {
                "url": "/Admin/CatTipoDocumentacionExtra/JsonIndex/",
                "method": "POST",
                "dataType": "json",
                "dataSrc": function (json) {

                    if (json.data === null)
                        return [];
                    else
                        return json.data;
                }
            },
            "columns": [
                { "data": "Descripcion" },
                { "data": "Modulos" },
                {
                    "data": null,
                    "render": function (data, type, full) {
                        var botones =
                            "<div class='visible-md visible-lg hidden-sm hidden-xs' style='text-align:center'=>" +
                            "<a title='Editar' class='btn btn-yellow' href='/Admin/CatTipoDocumentacionExtra/Edit?IdTipoDocumentacionExtra=" +
                            full["IdTipoDocumentacionExtra"] +
                            "'><i class='fa fa-edit'></i></a>" +
                            "<a title='Eliminar' data-id='" +
                            full["IdTipoDocumentacionExtra"] +
                            "' data-hrefa='/Admin/CatTipoDocumentacionExtra/Delete?" +
                            full["IdTipoDocumentacionExtra"] +
                            "' class='btn btn-danger tooltips eliminar' data-placement='top' data-original-title='Eliminar'><i class='fa fa-trash-o'></i></a>" +
                            "</div>" +
                            "<div class='visible-xs visible-sm hidden-md hidden-lg'>" +
                            "<div class='btn-group'>" +
                            "<a class='btn btn-danger dropdown-toggle btn-sm' data-toggle='dropdown' href='#'>" +
                            "<i class='fa fa-cog'></i> <span class='caret'></span>" +
                            "</a>" +
                            "<ul role='menu' class='dropdown-menu pull-right dropdown-dark'>" +
                            "<li>" +
                            "<a role='menuitem' tabindex='-1' href='/Admin/CatTipoDocumentacionExtra/Edit?IdTipoDocumentacionExtra" +
                            full["IdTipoDocumentacionExtra"] +
                            "'>" +
                            "<i class='fa fa-edit'></i> Editar" +
                            "</a>" +
                            "</li>" +
                            "<li>" +
                            "<a role='menuitem' tabindex='-1' href='/Admin/CatTipoDocumentacionExtra/Delete?IdTipoDocumentacionExtra" +
                            full["IdTipoDocumentacionExtra"] +
                            "'>" +
                            "<i class='fa fa-trash-o'></i> Eliminar" +
                            "</a>" +
                            "</li>" +
                            "</ul>" +
                            "</div>" +
                            "</div>";
                        return botones;
                    }
                }
            ]
            , "drawCallback": function (settings) {
                $(".eliminar").on("click", function () {

                    var url = $(this).attr('data-hrefa');
                    var id = $(this).attr('data-id');
                    var box = $("#mb-remove-row");
                    box.addClass("open");
                    box.find(".mb-control-yes").on("click", function () {
                        box.removeClass("open");
                        $.ajax({
                            url: url,
                            data: { id: id },
                            type: 'POST',
                            dataType: 'json',
                            success: function (result) {
                                window.location.href = '/Admin/CatTipoDocumentacionExtra/Index';
                            },
                            error: function (result) {
                                window.location.href = '/Admin/CatTipoDocumentacionExtra/Index';
                            }
                        });
                    });

                });

            },
            "order": [[1, 'desc']]
        });
    </script>
}